{% extends "layout.html" %}

{% block title %} Registar {% endblock title%} 

{% load static%}

{% block body %}
<!-- Jumbotron -->
<div class="p-5 text-center bg-body-tertiary">
    <h1 class="mb-3">Olá, Bem Vindo(a) ao Secure Vault <b>{{user.first_name}} {{user.last_name}}</b>!</h1>
    <h4 class="mb-4">Sistema de Autenticação Seguro</h4>
    <p>Fortalecendo a segurança digital: Nosso sistema de autenticação incorpora as mais avançadas medidas de proteção, desde a criptografia de ponta a hash e salting de senhas, garantindo uma experiência segura e confiável para nossos usuários.</p>
</div>

<div class="container mb-4">
    <div class="row">
  
      <!-- First column -->
      <div class="col-md">
  
        <!-- Card -->
        <div class="card">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- Card -->
  
      </div>
      <!-- First column -->
  
      <!-- Second column -->
      <div class="col-md">
  
        <!-- Card -->
        <div class="card">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- Card -->
  
      </div>
      <!-- Second column -->
  
      <!-- Third column -->
      <div class="col-md">
  
        <!-- Card -->
        <div class="card">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/113.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
        <!-- Card -->
  
      </div>
      <!-- Third column -->
  
    </div>
  </div>
<!-- Jumbotron -->
{% endblock body %}