{% extends "auth-layout.html" %}

{% block title %} Esqueci Password  {% endblock title%} 

{% load static%}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center">
        <!-- app logo -->
        <img src="{% static 'img/app-logo.jpg'%}" alt="Logo" class="img-fluid mx-auto mb-4" style="max-width: 100px;">
        <main class="form-signin w-25 m-auto">
            <span class="mb-0 text-danger">
                Enviámos-lhe um e-mail com instruções para definir a sua palavra-passe, caso exista uma conta com o e-mail que introduziu. Deverá recebê-las em breve.
                Se não receber um e-mail, certifique-se de que introduziu o endereço com que se registou e verifique a sua pasta de spam.
            </span>
        </main>
    </div>
</div>
{% endblock body %}