{% extends "auth-layout.html" %}

{% block title %} Esqueci Password  {% endblock title%} 

{% load static%}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center w-50">
        <!-- app logo -->
        <img src="{% static 'img/app-logo.jpg'%}" alt="Logo" class="img-fluid mx-auto mb-4" style="max-width: 100px;">

        <main class="form-signin w-50 m-auto">
            <span class="mb-0 text-danger">
                {% if msg %}
                    {{ msg | safe }}
                {% endif %}
            </span>
            <form method="post">
                {% csrf_token %}
                <fieldset class="">
                    <div class="form-row field-email mb-4">
                        <label for="id_email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" autocomplete="off" id="id_email" placeholder="Seu Email" required>
                    </div>
                    <input type="submit" value="Repôr Senha" class="btn btn-primary btn-block mb-4">
                </fieldset>
            </form>
        </main>
    </div>
</div>
{% endblock body %}