{% extends "auth-layout.html" %}

{% block title %} Esqueci Password {% endblock title%} 

{% load static%}

{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center">
        <!-- app logo -->
        <img src="{% static 'img/app-logo.jpg'%}" alt="Logo" class="img-fluid mx-auto mb-4" style="max-width: 100px;">

        <main class="form-signin m-auto">
           <p>A sua palavra-passe foi redefinida.  Pode prosseguir e iniciar sessão agora.</p>

            <p><a href="{% url 'login' %}">Login</a></p>
        </main>
    </div>
</div>
{% endblock body %}